/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
a {
    all: unset;
    display: inline;
    cursor: pointer;
    color: inherit;
}

/* UTILITIES ________________________________________________ */
:root {
    --green: #87d37f;
    --green-rgb: 135, 211, 127;
    --green-light: #caecc6;
    --green-dark: #285724;

    --blue: #88a4ff;
    --blue-light: #c4d8ff;
    --blue-dark: #2933aa;
    --blue-rgb: 136, 164, 255;

    --orange: #ff9966;
    --orange-rgb: 255, 153, 102;
    --orange-light: #ffc8a9;
    --orange-dark: #fc4913;

    --yellow: #f7f76c;
    --yellow-light: #f5f98f;
    --yellow-dark: #805e13;

    --red: #ff686b;
    --red-light: #ffc7c8;
    --red-dark: #a01416;

    --black: #2f2f2f;
    --black-rgb: 47, 47, 47;

    --white-rgb: 255, 254, 235;
    --white: #fffeeb;

    --dark-grey: #656565;

    --wrapper-width: 1344px;
    --content-width: 912px;
    --side-width: 264px;

    --header-height: 72px;
    --main-height: 816px;
    --footer-height: 216px;
    --space-height: 16px;
}

.row {
    display: flex;
}
.column {
    display: flex;
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.shadow {
    box-shadow: 8px 8px 12px rgba(var(--black-rgb), 0.15);
}
#wrapper {
    width: var(--wrapper-width);
    margin: 0 auto;
}

/* FONT */
h1,
.h1 {
    font-weight: 700;
    font-size: 48px;
}
h2,
.h2 {
    font-weight: 500;
    font-size: 40px;
}
h3,
.h3 {
    font-weight: 500;
    font-size: 36px;
}
h4,
.h4 {
    font-weight: 400;
    font-size: 32px;
}

.sat20 {
    font-weight: 500;
    font-size: 20px;
}
.sat18 {
    font-weight: 500;
    font-size: 18px;
}
.big-btn {
    font-weight: 500;
    font-size: 24px;
}
.pseudo {
    font-weight: 500;
    font-size: 20px;
}
body {
    color: var(--black);
    font-family: "Nunito Sans", serif;
    font-size: 18px;
}
.outfit {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
}
textarea {
    color: var(--black);
    font-family: "Nunito Sans", serif;
    font-size: 18px;
}

/* GENERAL ______________________________________________________*/

body {
    background-color: white;
}
.bg-element {
    position: fixed;
}
.bg-element_first {
    top: -10px;
    left: 1360px;
    width: 200px;
    height: 200px;
    background-color: var(--blue);
    border-radius: 15px;
    transform: rotate(66deg);
}
.bg-element_second {
    top: 200px;
    left: 360px;
    width: 350px;
    height: 350px;
    background-color: var(--blue-dark);
    border-radius: 50px;
    transform: rotate(103deg);
}
.bg-element_third {
    top: 800px;
    left: 1400px;
    width: 100px;
    height: 100px;
    background-color: var(--dark-grey);
    border-radius: 200px;
    transform: rotate(-10deg);
}

.fixed-section {
    width: var(--wrapper-width);
    height: var(--main-height);
    padding: 0 72px;
    background-color: rgba(var(--blue-rgb), 0.6);
    backdrop-filter: blur(5px);
    position: relative;
    top: calc(var(--header-height) + (var(--space-height) * 2));
    overflow: visible;

    &.fixed-section__topic {
        background-color: rgba(var(--white-rgb), 0.6);
        backdrop-filter: blur(5px);
        top: 24px;
        width: var(--content-width);
        padding: 0;
        border-radius: 20px;
        border-bottom-right-radius: 0px;
        height: calc(var(--main-height) - (24px * 2));
        overflow: scroll;
        scrollbar-width: none;
    }
}
.scrollable-content {
    padding: calc(var(--header-height) + var(--space-height) + 24px) 0
        calc(var(--footer-height) + var(--space-height) + 24px);
    position: relative;
    top: calc(-1 * (var(--header-height) + var(--space-height)));
    width: var(--content-width);
    height: calc(
        var(--header-height) + var(--main-height) + var(--footer-height) +
            (var(--space-height) * 2)
    );
    overflow-y: auto;
    scroll-behavior: smooth;
    z-index: 1;

    &.scrollable-content__full {
        width: 100%;
    }
    &.scrollable-content__topic {
        top: 0;
        left: 0;
        padding: 24px;
        height: fit-content;
        padding-bottom: 240px;
    }
}
.scrollable-content::-webkit-scrollbar {
    display: none;
}
/* POPUP _____________________________________________________ */
.message {
    display: block;
    backdrop-filter: blur(5px);
    position: relative;
    top: calc(var(--header-height) + (var(--space-height) * 2));
    z-index: 33;
    text-align: center;

    &.error {
        background-color: rgba(var(--orange-rgb), 0.6);
    }
    &.success {
        background-color: rgba(var(--green-rgb), 0.6);
    }
}

/* HEADER _______________________________________________________ */

header {
    position: absolute;
    top: var(--space-height);
    width: var(--wrapper-width);
    height: var(--header-height);
    background-color: rgba(var(--white-rgb), 0.6);
    backdrop-filter: blur(5px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0 72px;
    z-index: 10;

    & nav {
        height: 100%;
        justify-content: space-between;
        align-items: center;

        & .nav-right,
        .nav-left {
            align-items: center;
            gap: 24px;
        }
    }
}

/* SIDE ______________________________________________________ */

aside {
    position: absolute;
    width: var(--side-width);
    height: 756px;
    justify-content: space-between;
    right: 72px;
    top: 24px;
    color: var(--white);

    .side-block {
        background-color: var(--black);

        &.new-topic {
            border-top-right-radius: 20px;
            background-color: var(--green);
            padding: 16px 24px;
            color: var(--black);
            text-align: center;
        }

        &.list-block {
            padding: 24px;
            gap: 32px;

            & .list-block_list {
                gap: 12px;

                & .user {
                    justify-content: space-between;
                }

                & input[type="checkbox"] {
                    display: none;
                }
                & .info_cat_btn {
                    border: 1px solid var(--white);
                    color: var(--white);
                    background-color: transparent;
                    cursor: pointer;
                }

                & input[type="checkbox"]:checked + .info_cat_btn {
                    &.Far {
                        border: 1px solid var(--green-dark);
                        color: var(--green-dark);
                        background-color: var(--green-light);
                    }
                    &.DIY {
                        border: 1px solid var(--red-dark);
                        color: var(--red-dark);
                        background-color: var(--red-light);
                    }
                    &.Gar {
                        border: 1px solid var(--yellow-dark);
                        color: var(--yellow-dark);
                        background-color: var(--yellow-light);
                    }
                    &.Chi {
                        border: 1px solid var(--blue-dark);
                        color: var(--blue-dark);
                        background-color: var(--blue-light);
                    }
                    &.Foo {
                        border: 1px solid var(--orange-dark);
                        color: var(--orange-dark);
                        background-color: var(--orange-light);
                    }
                }
            }
        }

        &.last-block {
            border-bottom-right-radius: 20px;
        }
    }
}
/* FOOTER ______________________________________________________ */

footer {
    position: relative;
    bottom: -120px;
    width: var(--wrapper-width);
    height: var(--footer-height);
    background-color: rgba(var(--black-rgb), 0.8);
    padding: 24px 72px;
    backdrop-filter: blur(5px);
    z-index: 10;
    color: var(--white);
    justify-content: space-between;

    & .footer_left {
        gap: 96px;

        & .footer_link-column {
            gap: 24px;

            & .link-column_links {
                gap: 8px;
                text-decoration: underline;
            }
        }
    }

    & .footer-right {
        justify-content: space-between;
        align-items: end;
    }
}

/* HOME ______________________________________________________ */

.topic-list {
    width: var(--content-width);
    gap: 24px;

    & .topic-card {
        background-color: rgba(var(--white-rgb), 0.6);
        backdrop-filter: blur(5px);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 24px;
        gap: 12px;
        position: relative;
        max-height: 216px;
        align-items: stretch;
        transition: all 0.2s ease-in-out;

        &:hover {
            /* MUST CHANGE DEPENDING ON CAT ____________ */
            background-color: var(--white);
        }
        & .separator {
            width: 2px;
            background-color: var(--dark-grey);
            border-radius: 2px;
        }

        & .topic-card_left {
            flex: 1 1 50%;
            gap: 24px;

            & .topic-card_info {
                align-items: center;
                width: 100%;
                gap: 24px;

                & .separator {
                    height: 100%;
                }
            }
        }

        & .topic-card_right {
            flex: 1 1 50%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & .topic-card_post-count {
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            border-radius: 30px;
            border-bottom-right-radius: 0;
            position: absolute;
            right: 0;
            bottom: 0;
            color: var(--white);
            background-color: var(--black);
        }
    }
}

.info_cat_btn {
    padding: 6px 12px;
    border-radius: 10px;
    width: fit-content;

    &.Far {
        border: 1px solid var(--green-dark);
        color: var(--green-dark);
        background-color: var(--green-light);
    }
    &.DIY {
        border: 1px solid var(--red-dark);
        color: var(--red-dark);
        background-color: var(--red-light);
    }
    &.Gar {
        border: 1px solid var(--yellow-dark);
        color: var(--yellow-dark);
        background-color: var(--yellow-light);
    }
    &.Chi {
        border: 1px solid var(--blue-dark);
        color: var(--blue-dark);
        background-color: var(--blue-light);
    }
    &.Foo {
        border: 1px solid var(--orange-dark);
        color: var(--orange-dark);
        background-color: var(--orange-light);
    }
}

.info_user {
    gap: 12px;
    align-items: center;
}
.user_pp {
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 48px;
    border: 2px solid var(--black);
}
.topic_time,
.user_time {
    color: var(--dark-grey);
}

/* LOGIN / REGISTER ___________________________________________________ */

.form {
    padding-top: 72px;
    width: 350px;
    margin: 0 auto;
    gap: 22px;

    & form {
        gap: 22px;
    }

    & h1,
    p {
        text-align: center;
    }
    & input {
        border-radius: 10px;
        border: 1px solid var(--blue);
    }

    & input[type="email"],
    input[type="password"],
    input[type="text"] {
        width: 100%;
        height: 50px;
        padding-left: 14px;
        font-size: 16px;
    }

    & input[type="submit"] {
        background-color: var(--orange);
        border: none;
        cursor: pointer;
        width: 100%;
        height: 50px;
        color: var(--black);
    }
    & .form-link {
        text-decoration: underline;
        color: var(--dark-grey);
    }
    & .form-link__mini {
        text-align: end;
        font-size: 16px;
    }
}

/* USER LIST ___________________________________________________ */
.user-list {
    gap: 24px;
}
.user-card {
    background-color: rgba(var(--white-rgb), 0.6);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 24px;
    justify-content: space-between;
    flex: 1 1 auto;
    align-items: end;

    & button {
        background-color: var(--orange);
        border-radius: 10px;
        border: none;
        transition: all 0.2s ease-in-out;
        width: 96px;
        height: 48px;
        cursor: pointer;
        &.green {
            background-color: var(--green);
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}

/* TOPIC ___________________________________________________________ */
.topic_title_cat .info_cat_btn {
    margin-left: auto;
    margin-bottom: 16px;
}

.topic-post {
    width: 100%;
    border: 2px solid var(--black);
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 16px;

    & .topic-post_content {
        flex: 3 1;
        padding: 24px;
    }

    & .poster-info {
        flex: 1 1;
        padding: 24px;
        background-color: var(--black);
        color: var(--white);
        gap: 6px;
        position: relative;

        & .user_pp {
            border: 2px solid var(--white);
        }

        & .poster-info_pp_stats {
            gap: 12px;
        }

        & .post_time {
            color: var(--orange);
        }

        & .post-count {
            background-color: var(--white);
            color: var(--black);
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0 8px;
            border-top-left-radius: 10px;
        }
    }
}
.topic-btn {
    transform: rotate(-90deg);
    position: absolute;

    &.lock {
        top: 72px;
        left: 8px;
    }

    &.del {
        top: 168px;
        left: 8px;
    }

    & button {
        background-color: var(--orange);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: none;
        transition: all 0.1s ease-in-out;
        width: 88px;
        height: 40px;
        cursor: pointer;

        &.green {
            background-color: var(--green);
        }
        &.red {
            background-color: var(--red);
        }

        &:hover {
            border-bottom: 4px solid var(--black);
        }
    }
}
.reply-btn_label {
    transform: rotate(-90deg);
    position: absolute;
    top: 690px;
    left: 8px;
    background-color: var(--blue);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 88px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}
.reply-btn {
    visibility: hidden;
}
.reply-btn:checked ~ .post-form {
    display: none;
}
.post-form {
    position: absolute;
    bottom: 24px;
    width: var(--content-width);
    background-color: rgba(var(--blue-rgb), 0.6);
    backdrop-filter: blur(5px);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    /* transform: translate(760px, 254px); */
    transition: all 0.2s ease-in-out;

    & form {
        padding-top: 22px;
        gap: 22px;
    }
    & form textarea {
        width: 96%;
        height: 150px;
        margin: 0 auto;
        resize: none;
        padding: 8px;
    }

    & .post-form_btns {
        justify-content: space-between;
        & input {
            border: none;
            border-radius: 0;
            width: 153px;
            height: 50px;
            cursor: pointer;
        }

        & input[type="submit"] {
            border-top-left-radius: 20px;
            background-color: var(--orange);
        }
        & input[type="reset"] {
            border-top-right-radius: 20px;
            background-color: var(--black);
            color: var(--white);
        }
    }
}

/* NEW TOPIC __________________________________________________________ */

.topic-form {
    padding-top: 0;
    margin: 0 auto;
    width: 90%;

    & form {
        height: 100%;
        justify-content: space-between;
    }

    & .input-and-label {
        background-color: rgba(var(--white-rgb), 0.6);
        backdrop-filter: blur(5px);
        padding: 24px;
        border-radius: 20px;
        gap: 16px;
    }

    & .radio-categories {
        gap: 8px;

        & input[type="radio"] {
            visibility: hidden;
        }
        & .info_cat_btn {
            border: 1px solid var(--black);
            color: var(--black);
            background-color: transparent;
            cursor: pointer;
        }

        & input[type="radio"]:checked + .info_cat_btn {
            &.Far {
                border: 1px solid var(--green-dark);
                color: var(--green-dark);
                background-color: var(--green-light);
            }
            &.DIY {
                border: 1px solid var(--red-dark);
                color: var(--red-dark);
                background-color: var(--red-light);
            }
            &.Gar {
                border: 1px solid var(--yellow-dark);
                color: var(--yellow-dark);
                background-color: var(--yellow-light);
            }
            &.Chi {
                border: 1px solid var(--blue-dark);
                color: var(--blue-dark);
                background-color: var(--blue-light);
            }
            &.Foo {
                border: 1px solid var(--orange-dark);
                color: var(--orange-dark);
                background-color: var(--orange-light);
            }
        }
    }

    & textarea {
        width: 96%;
        height: 150px;
        margin: 0 auto;
        resize: none;
        padding: 8px;
    }

    & input[type="submit"] {
        width: 50%;
        margin: 0 auto;
    }
}
