/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
a {
    all: unset;
    display: inline;
    cursor: pointer;
    color: inherit;
}

/* UTILITIES ________________________________________________ */
:root {
    --green: #87d37f;
    --green-light: #caecc6;
    --green-dark: #285724;

    --blue: #88a4ff;
    --blue-light: #c4d8ff;
    --blue-dark: #2933aa;
    --blue-rgb: 136, 164, 255;

    --orange: #ff9966;
    --orange-light: #ffc8a9;
    --orange-dark: #fc4913;

    --yellow: #f7f76c;
    --yellow-light: #f5f98f;
    --yellow-dark: #805e13;

    --red: #ff575a;
    --red-light: #ffc7c8;
    --red-dark: #a01416;

    --black: #2f2f2f;
    --black-rgb: 47, 47, 47;

    --white-rgb: 255, 254, 235;
    --white: #fffeeb;

    --dark-grey: #656565;

    --wrapper-width: 1344px;
    --content-width: 1008px;
    --side-width: 264px;
}

.row {
    display: flex;
}
.shadow {
    box-shadow: 12px 12px 12px rgba(var(--black-rgb), 0.25);
}
.column {
    display: flex;
    flex-direction: column;
}
#wrapper {
    width: var(--wrapper-width);
    margin: 0 auto;
}

/* FONT */
h1,
.h1 {
    font-weight: 700;
    font-size: 48px;
}
h2,
.h2 {
    font-weight: 500;
    font-size: 40px;
}
h3,
.h3 {
    font-weight: 500;
    font-size: 36px;
}
h4,
.h4 {
    font-weight: 400;
    font-size: 32px;
}

.sat20 {
    font-weight: medium;
    font-size: 20px;
}
.sat18 {
    font-weight: medium;
    font-size: 18px;
}
.big-btn {
    font-weight: medium;
    font-size: 24px;
}
body {
    color: var(--black);
    font-family: "Nunito Sans", serif;
    font-size: 18px;
}
.outfit {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
}

/* GENERAL ______________________________________________________*/

body {
    background-color: white;
}
.bg-element {
    position: fixed;
}
.bg-element_first {
    top: -10px;
    left: 1360px;
    width: 200px;
    height: 200px;
    background-color: var(--blue);
    border-radius: 15px;
    transform: rotate(66deg);
}
.bg-element_second {
    top: 200px;
    left: 360px;
    width: 350px;
    height: 350px;
    background-color: var(--blue-dark);
    border-radius: 50px;
    transform: rotate(103deg);
}
.bg-element_third {
    top: 600px;
    left: 1200px;
    width: 200px;
    height: 200px;
    background-color: var(--dark-grey);
    border-radius: 200px;
    transform: rotate(-10deg);
}
.fixed-section {
    width: var(--wrapper-width);
    height: 816px;
    padding: 0 72px;
    background-color: rgba(var(--blue-rgb), 0.6);
    backdrop-filter: blur(10px);
    position: relative;
    top: 72px;
    overflow: visible;
}
.scrollable-content {
    padding: 96px 0;
    position: relative;
    top: -72px;
    width: var(--content-width);
    height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    z-index: 1;
}
.scrollable-content::-webkit-scrollbar {
    display: none;
}

/* HEADER _______________________________________________________ */

header {
    position: absolute;
    width: var(--wrapper-width);
    height: 72px;
    background-color: rgba(var(--white-rgb), 0.6);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0 72px;
    backdrop-filter: blur(10px);
    z-index: 10;

    & nav {
        height: 100%;
        justify-content: space-between;
        align-items: center;

        & .nav-right {
            gap: 24px;
        }
    }
}

/* SIDE ______________________________________________________ */

aside {
    position: absolute;
    width: var(--side-width);
    height: 756px;
    justify-content: space-between;
    right: 72px;
    top: 24px;
    color: var(--white);

    .side-block {
        background-color: var(--black);

        &.new-topic {
            border-top-right-radius: 20px;
            background-color: var(--green);
            padding: 16px 24px;
            color: var(--black);
            text-align: center;
        }

        &.list-block {
            padding: 24px;
            gap: 32px;

            & .list-block_list {
                gap: 12px;

                & .user {
                    justify-content: space-between;
                }
            }
        }

        &.last-block {
            border-bottom-right-radius: 20px;
        }
    }
}
/* FOOTER ______________________________________________________ */

footer {
    position: relative;
    bottom: -88px;
    width: var(--wrapper-width);
    height: 216px;
    background-color: rgba(var(--black-rgb), 0.8);
    padding: 24px 72px;
    backdrop-filter: blur(10px);
    z-index: 10;
    color: var(--white);
    justify-content: space-between;

    & .footer_left {
        gap: 96px;

        & .footer_link-column {
            gap: 24px;

            & .link-column_links {
                gap: 8px;
                text-decoration: underline;
            }
        }
    }

    & .footer-right {
        justify-content: space-between;
        align-items: end;
    }
}

/* HOME ______________________________________________________ */

.topic-list {
    width: var(--content-width);
    padding-right: 96px;
    gap: 24px;

    & .topic-card {
        background-color: var(--white);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 24px;
        gap: 12px;
        position: relative;
        height: 100%;
        align-items: stretch;

        & .separator {
            width: 2px;
            background-color: var(--dark-grey);
            border-radius: 2px;
        }

        & .topic-card_left {
            flex: 1 1 50%;
            gap: 24px;

            & .topic-card_info {
                align-items: center;
                width: 100%;
                gap: 24px;

                & .separator {
                    height: 100%;
                }

                & .info_user {
                    gap: 12px;
                    align-items: center;

                    & .user_pp {
                        /* MUST CHANGE DEPENDING ON CAT ____________ */
                        background-color: var(--green);
                        width: 48px;
                        height: 48px;
                        line-height: 48px;
                        text-align: center;
                        text-transform: capitalize;
                        border-radius: 48px;
                    }

                    & .topic_time {
                        color: var(--dark-grey);
                    }
                }

                & .info_cat {
                    border-radius: 10px;
                    border: 1px solid var(--green-dark);
                    background-color: var(--green-light);
                    padding: 6px 12px;

                    & .info_cat_btn {
                        color: var(--green-dark);
                    }
                }
            }
        }

        & .topic-card_right {
            flex: 1 1 50%;
            height: 100%;
        }
        & .topic-card_post-count {
            /* MUST CHANGE DEPENDING ON CAT ____________ */
            background-color: var(--green);
            width: 48px;
            height: 48px;
            text-align: center;
            line-height: 48px;
            border-top-left-radius: 20px;
            color: var(--white);
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}
